@model Pedido
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <form asp-action="Cadastrar" asp-controller="Pedido">
        <label asp-for="Produto">Produto:</label>
        <input type="text" asp-for="Produto" required /><br />

        <label asp-for="Quantidade">Quantidade:</label>
        <input type="text" asp-for="Quantidade" /><br />

        <label asp-for="Valor">Valor:</label>
        <input type="text" asp-for="Valor" required /><br />

        <label asp-for="Fornecedor">Fornecedor:</label>
        <input type="text" asp-for="Fornecedor" /><br />

        <label asp-for="Data">Data:</label>
        <input type="text" asp-for="Data" /><br />

        <input type="submit" value="Cadastrar" />

    </form>
</body>
</html>
